name: Reusable Release Workflow

on:
  workflow_call:
    inputs:
      tag:
        required: true
        type: string
    secrets:
      RELENG_GITHUB_TOKEN:
        required: true
      APPLE_SIGNING_KEY_P12:
        required: true
      APPLE_SIGNING_KEY_P12_PASSWORD:
        required: true
      AC_PASSWORD:
        required: true
      AC_PROVIDER:
        required: true
      DATADOG_API_KEY:
        required: true

jobs:
  fail_on_purpose:
    runs-on: ubuntu-latest
    steps:
      - name: Fail on purpose
        run: |
          echo "This is a test failure"
          exit 1

  goreleaser:
    needs: [fail_on_purpose]
    runs-on: macos-latest
    steps:
      - name: Checkout caller repo
        uses: actions/checkout@v4
        with:
          path: _caller
          repository: ${{ github.event.repository.full_name }}
          fetch-depth: 0

      - name: Checkout connector-workflows
        uses: actions/checkout@v4
        with:
          path: _workflows
          repository: ConductorOne/connector-workflows
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.24.x

      - name: Generate gon and goreleaser configs
        env:
          REPO_NAME: ${{ github.event.repository.name }}
        run: |
          envsubst < _workflows/.gon-amd64-template.json > _workflows/.gon-amd64.json
          envsubst < _workflows/.gon-arm64-template.json > _workflows/.gon-arm64.json
          envsubst < _workflows/.goreleaser-template.yaml > _workflows/.goreleaser.yaml
          echo "_workflows/.gon-amd64.json:"
          cat _workflows/.gon-amd64.json
          echo "_workflows/.gon-arm64.json:"
          cat _workflows/.gon-arm64.json
          echo "_workflows/.goreleaser.yaml:"
          cat _workflows/.goreleaser.yaml

      - name: Set up Gon
        run: brew tap conductorone/gon && brew install conductorone/gon/gon

      - name: Import Keychain Certs
        uses: apple-actions/import-codesign-certs@v1
        with:
          p12-file-base64: ${{ secrets.APPLE_SIGNING_KEY_P12 }}
          p12-password: ${{ secrets.APPLE_SIGNING_KEY_P12_PASSWORD }}

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          workdir: _caller
          version: "~> v2.5"
          args: release --clean --config ../_workflows/.goreleaser.yaml
        env:
          GITHUB_TOKEN: ${{ secrets.RELENG_GITHUB_TOKEN }}
          AC_PASSWORD: ${{ secrets.AC_PASSWORD }}
          AC_PROVIDER: ${{ secrets.AC_PROVIDER }}

  goreleaser-docker:
    needs: [fail_on_purpose]
    permissions:
      id-token: write
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Configure AWS credentials via OIDC
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: "arn:aws:iam::168442440833:role/GitHubActionsECRPushRole-${{ github.event.repository.name }}"
          aws-region: us-west-2

      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Checkout caller repo
        uses: actions/checkout@v4
        with:
          path: _caller
          repository: ${{ github.event.repository.full_name }}
          fetch-depth: 0

      - name: Checkout connector-workflows
        uses: actions/checkout@v4
        with:
          path: _workflows
          repository: ConductorOne/connector-workflows
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.24.x

      - name: Generate goreleaser configs
        env:
          REPO_NAME: ${{ github.event.repository.name }}
        run: |
          envsubst < _workflows/.goreleaser-docker-template.yaml > _workflows/.goreleaser.docker.yaml
          echo "_workflows/.goreleaser.docker.yaml:"
          cat _workflows/.goreleaser.docker.yaml

      - name: Docker Login
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.RELENG_GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          workdir: _caller
          version: "~> v2.5"
          args: release --clean --config ../_workflows/.goreleaser.docker.yaml
        env:
          GITHUB_TOKEN: ${{ secrets.RELENG_GITHUB_TOKEN }}

  record-release:
    needs: [goreleaser, goreleaser-docker]
    permissions:
      id-token: write
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Configure AWS credentials via OIDC
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: "arn:aws:iam::168442440833:role/GitHubActionsECRPushRole-${{ github.event.repository.name }}"
          aws-region: us-west-2
      - name: Invoke Lambda
        run: |
          TMPFILE=$(mktemp)
          aws lambda invoke \
          --function-name "${{ github.event.repository.name }}-releases" \
          --payload "{\"repository\":\"${{ github.event.repository.full_name }}\", \"tag\":\"${{ inputs.tag }}\"}" \
          --cli-binary-format raw-in-base64-out \
          "$TMPFILE"
          cat "$TMPFILE"

  notify-failure:
    needs: [fail_on_purpose, goreleaser, goreleaser-docker, record-release]
    if: failure()
    runs-on: ubuntu-latest
    steps:
      - name: Send Datadog event on failure
        uses: masci/datadog@v1
        with:
          api-key: ${{ secrets.DATADOG_API_KEY }}
          api-url: https://us3.datadoghq.com/
          events: |
            - title: "Baton Connector Release Failed"
              text: |
                %%%
                # Release Failed ${{ github.event.repository.name }}:${{ inputs.tag }}
                ## Details
                * **Repository:** `${{ github.event.repository.full_name }}`
                * **Release Tag:** `${{ inputs.tag }}`
                * **Workflow:** `baton-connector-release`
                * **Action Run ID:** `${{ github.run_id }}`

                ## Links
                [View Workflow Run](${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }})
                %%%
              alert_type: "error"
              host: ${{ github.repository_owner }}
              tags:
                - "github_repository:${{ github.event.repository.full_name }}"
                - "github_release_tag:${{ inputs.tag }}"
                - "github_workflow:baton-connector-release"
